<!-- TABLE PAGE -->
        <div class="container">
          <form>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Search" ng-model="searchStats">
              </div>
            </div>
          </form>

       <table class="table table-bordered table-striped">
         <thead>
            <tr>
            <td>#</td>
             <td>
              <a ng-click="sortType = 'company'; sortReverse = !sortReverse">Company<span ng-show="sortType == 'company' && !sortReverse" class="fa fa-caret-down"></span><span ng-show="sortType == 'company' && sortReverse" class="fa fa-caret-up"></span>
             </td>
             <td>
              <a ng-click="sortType = 'female_eng'; sortReverse = !sortReverse">Female Engineers<span ng-show="sortType == 'female_eng' && !sortReverse" class="fa fa-caret-down"></span><span ng-show="sortType == 'female_eng' && sortReverse" class="fa fa-caret-up"></span>
             </td>
             <td>
              <a ng-click="sortType = 'num_eng'; sortReverse = !sortReverse">Total Engineers<span ng-show="sortType == 'num_eng' && !sortReverse" class="fa fa-caret-down"></span><span ng-show="sortType == 'num_eng' && sortReverse" class="fa fa-caret-up"></span>
            </td>
             <td>
              <a ng-click="sortType = 'percent_female'; sortReverse = !sortReverse">Percent Female<span ng-show="sortType == 'percent_female' && !sortReverse" class="fa fa-caret-down"></span><span ng-show="sortType == 'percent_female' && sortReverse" class="fa fa-caret-up"></span>
            </td>
            </tr>
         </thead>

         <tbody id="tableBody" >
          <tr ng-repeat="stat in statistics | orderBy:sortType:sortReverse | filter:searchStats">
            <td>{{ $index + 1 }}</td>
            <td>{{ stat.company }}</td>
            <td>{{ stat.female_eng }}</td>
            <td>{{ stat.num_eng }}</td>
            <td>{{ stat.percent_female }}</td>
          </tr>
         </tbody>
       </table>
    </div>
<!-- END TABLE PAGE -->
