<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Untitled</title>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">

  </head>
  <body ng-controller="mainController">

<!--   HEADER -->
    <div class="content-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2 class="page-head-line">Defining The Gender Gap</h2>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 buttons">
              <button type="button" class="btn btn-circle btn-xl" ng-click="go('/comment')"><i class="glyphicon glyphicon-comment"></i></button>
              <button type="button" class="btn btn-circle btn-xl" ng-click="go('/table')"><i class="glyphicon glyphicon-list"></i></button>
              <button type="button" class="btn btn-circle btn-xl" ng-click="go('/bar')"><i class="glyphicon glyphicon-align-left"></i></button>
            </div>
          </div>
<!-- END HEADER -->


<!-- INSERT PAGES -->
    <div ng-view id="main">

    </div>
<!-- END INSERT VIEWS -->

  </div>
</div>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
